<!DOCTYPE html>
<html>
  <head>
    <title>Odd Tipper</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div class="container-fluid">
      <% if notice.present? %>
        <div class="alert alert-info"><%= notice %></div>
      <% end %>
      <% if alert.present? %>
        <div class="alert alert-danger"><%= alert %></div>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
